
<script src="{{ site.baseurl}}/bower_components/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl}}/bower_components/jquery.lazyload/jquery.lazyload.min.js"></script>

<!-- Lazy Load Images -->
<script>
$(document).ready(function() {
	(function() {
  	$('img.lazy').lazyload({});
	})();
});
</script>

<!-- Product Page -->
{% if page.sku %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=245984558886848";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<script>
	$(document).ready(function() {
		(function() {
		  var relationships = "{{site.baseurl}}/json/relationships/{{page.sku}}.json";
		  $.getJSON( relationships, {})
		    .done(function( data ) {

		    	$('#also_bought').empty()
		      $.each( data['bought'], function( i, product ) {
		      	var li = '<li><a href="{{site.baseurl}}/'+product.url+'">'+product.title+'</a></li>'
		      	$('#also_bought').append( li )
		      });

		    	$('#also_viewed').empty()
		      $.each( data['viewed'], function( i, product ) {
		      	var li = '<li><a href="{{site.baseurl}}/'+product.url+'">'+product.title+'</a></li>'
		      	$('#also_viewed').append( li )
		      });

		    	$('#frequently_together').empty()
		      $.each( data['together'], function( i, product ) {
		      	var h4 = '<a href="{{site.baseurl}}/'+product.url+'">'+product.title+'</a>'
		      	$('#frequently_together').append( h4 )
		      });

		    });
		})();
	});
	</script>
{% endif %}

{% if page.title == 'tags' %}
    <script type="text/javascript">
       $(function() {
          var minFont = 15.0,
              maxFont = 40.0,
              diffFont = maxFont - minFont,
              size = 0;
           
          {% assign max = 1.0 %}
          {% for tag in site.tags %}
             {% if tag[1].size > max %}
                {% assign max = tag[1].size %}
             {% endif %}
          {% endfor %}
                
          {% for tag in site.tags %}
             size = (Math.log({{ tag[1].size }}) / Math.log({{ max }})) * diffFont + minFont;
             $("#{{ forloop.index }}").css("font-size", size + "px");
          {% endfor %}

          $('.tag-cloud a[class^="__tag"]').click(function() {
             $('.post-list').empty();
             $('#list_' + $(this).attr('id')).each(function() {
                $('.post-list').append('<ul class="list-group">' + $(this).html() + '</ul>');
             });
          });
       });
    </script>
{% endif %}

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-191795-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>