<div class="list-group">
<a href="/hackerbootshop/browse/camping/hiking/" class="list-group-item">Camping & Hiking</a>
<a href="/hackerbootshop/browse/cross/country/skiing/" class="list-group-item">Cross-Country Skiing</a>
<a href="/hackerbootshop/browse/cycling/" class="list-group-item">Cycling</a>
<a href="/hackerbootshop/browse/footwear/" class="list-group-item">Footwear</a>
<a href="/hackerbootshop/browse/gifts/" class="list-group-item">Gifts</a>
<a href="/hackerbootshop/browse/kids/" class="list-group-item">Kids'</a>
<a href="/hackerbootshop/browse/kids/gear/and/clothing/" class="list-group-item">Kids' Gear And Clothing</a>
<a href="/hackerbootshop/browse/luggage/travel/" class="list-group-item">Luggage & Travel</a>
<a href="/hackerbootshop/browse/mens/" class="list-group-item">Men's</a>
<a href="/hackerbootshop/browse/mens/clothing/" class="list-group-item">Men's Clothing</a>
<a href="/hackerbootshop/browse/pets/toys/and/picnicking/" class="list-group-item">Pets, Toys And Picnicking</a>
<a href="/hackerbootshop/browse/skiing/" class="list-group-item">Skiing</a>
<a href="/hackerbootshop/browse/skiing/and/snowboarding/" class="list-group-item">Skiing And Snowboarding</a>
<a href="/hackerbootshop/browse/snowboarding/" class="list-group-item">Snowboarding</a>
<a href="/hackerbootshop/browse/womens/" class="list-group-item">Women's</a>
<a href="/hackerbootshop/browse/womens/clothing/" class="list-group-item">Women's Clothing</a>
</div>
