<ul class="dropdown-menu">
<li><a href="/hackerbootshop/browse/camping/hiking/">Camping & Hiking</a></li>
<li><a href="/hackerbootshop/browse/cross/country/skiing/">Cross-Country Skiing</a></li>
<li><a href="/hackerbootshop/browse/cycling/">Cycling</a></li>
<li><a href="/hackerbootshop/browse/footwear/">Footwear</a></li>
<li><a href="/hackerbootshop/browse/gifts/">Gifts</a></li>
<li><a href="/hackerbootshop/browse/kids/">Kids'</a></li>
<li><a href="/hackerbootshop/browse/kids/gear/and/clothing/">Kids' Gear And Clothing</a></li>
<li><a href="/hackerbootshop/browse/luggage/travel/">Luggage & Travel</a></li>
<li><a href="/hackerbootshop/browse/mens/">Men's</a></li>
<li><a href="/hackerbootshop/browse/mens/clothing/">Men's Clothing</a></li>
<li><a href="/hackerbootshop/browse/pets/toys/and/picnicking/">Pets, Toys And Picnicking</a></li>
<li><a href="/hackerbootshop/browse/skiing/">Skiing</a></li>
<li><a href="/hackerbootshop/browse/skiing/and/snowboarding/">Skiing And Snowboarding</a></li>
<li><a href="/hackerbootshop/browse/snowboarding/">Snowboarding</a></li>
<li><a href="/hackerbootshop/browse/womens/">Women's</a></li>
<li><a href="/hackerbootshop/browse/womens/clothing/">Women's Clothing</a></li>
</ul>
