    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}/welcome.html">Welcome</a></li>
            <li><a href="{{ site.baseurl }}/search.html">Search</a></li>
            <li><a href="{{ site.baseurl }}/browse/">Browse</a></li>
            <li><a href="{{ site.baseurl }}/running.html">Run</a></li>
          </ul>
          <div class="navbar-right" style="width:300px;">
            <div class="reset-box-sizing mt10">
              <gcse:searchbox-only resultsUrl="{{site.baseurl}}/search.html" newWindow="false">
            </div>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>