<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
  {% include top_nav.html %}

    <div class="container">
      <h2>
        <a href="{{site.baseurl}}/">home</a> &rarr;
        {% capture heritage_url %}{{ site.baseurl }}{% endcapture %}
        {% for ancestor in page.heritage %}
            {% capture heritage_url %}{{ heritage_url }}/{{ancestor}}{% endcapture %}
            {% case forloop.index %}
              {% when 1 %}
                {% assign words = page.heritage[0] | split: '-' %}
                {% assign title = words | join: ' ' %}
                {% assign title = title | camelcase %}
                <a href="{{site.baseurl}}/{{ page.heritage[0] }}/">{{ title }}</a>
              {% when 2 %}
                {% assign words = page.heritage[1] | split: '-' %}
                {% assign title = words | join: ' ' %}
                {% assign title = title | camelcase %}
                <a href="{{site.baseurl}}/{{ page.heritage[0] }}/{{ page.heritage[1] }}/">{{ title }}</a>
              {% when 3 %}
                {% assign words = page.heritage[2] | split: '-' %}
                {% assign title = words | join: ' ' %}
                {% assign title = title | camelcase %}
                <a href="{{site.baseurl}}/{{ page.heritage[0]  }}/{{ page.heritage[1] }}/{{ page.heritage[2] }}/">{{ title }}</a>
              {% else %}
            {% endcase %}
            {% unless forloop.last %}
              &rarr;
            {% endunless %}
        {% endfor %}
      </h2>
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
          {% for child in page.children %}
                {% assign words = child | split: '-' %}
                {% assign title = words | join: ' ' %}
                {% assign title = title | camelcase %}
              <a class="list-group-item" href="{{heritage_url}}/{{ child }}">{{ title }}</a>
          {% endfor %}
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
          {% for product in page.products %}
              {% assign product_data = site.data.products[product] %}
              {% assign product_url = site.data.producturlmap[product] %}
              <div class="col-xs-6 col-sm-4 col-md-3">
                  <div class="thumbnail" style="margin-bottom:30px;max-width:300px">
                    <a href="{{site.baseurl}}{{ product_url }}"><img src="{{ product_data['image_url'] }}" class="img-responsive"></a>
                    <div class="caption" style="height:100px;overflow:hidden">
                      <p>
                        {% if product_data['sale_price'] %}<span class="label label-success">${{ product_data['sale_price'] }}</span>&nbsp;{% endif %}<a href="{{site.baseurl}}{{ product_url }}">{{ product_data['product_name'] }}</a>
                      </p>
                    </div>
                  </div>
              </div>
          {% endfor %}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div> <!-- /container -->

    {% include javascript.html %}
  </body>
</html>